<html>
	<head>
		<title>Todo App</title>
		<style>
			.hidden {
				display: none;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div id="error" class="hidden">Something went wrong!</div> 
		<!-- error message above the list, default not show 
		-->
		<form id='form' method="post" action="/todos/create">
			<input type="text" id="description" name="description" />
			<input type="submit" value="Create" />
		</form>

		<ul id="todos">
			{% for d in data %}
			<li><input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} /> {{ d.description}} </li>
			{% endfor %}
		</ul>
		<script>
			const checkboxes = document.querySelectorAll('.check-completed'); 
			for (let i=0; i < checkboxes.length; i++){
				const checkbox = checkboxes[i];
				checkbox.onchange = function(e) {
					console.log('event',e); //log event when status changed on checkbox
					const newCompleted = e.target.checked;
					const todoId = e.target.dataset['id']; // id of the todo item
					fetch('/todos/' + todoId + '/set-completed',{ //send out a post request to this route when status of checkbox changed 
						method: 'POST', 
						body: JSON.stringify({
							'completed': newCompleted
						}), 
						headers: {
							'Content-Type': 'application/json' 
						} 

					})
					.then(function() { // hide it if it's successful 
						document.getElementById('error').className = 'hidden';
					})
					.catch(function(){ //trigger only when something gone wrong in the server
						document.getElementById('error').className = ''; //remove the className 
					})
				}
			}

			const descInput = document.getElementById('description'); 
			document.getElementById('form').onsubmit = function(e){ 
			//action when submit button is clicked
				e.preventDefault(); // prevent default behavior: refresh the page 
				const desc = descInput.value; 
				descInput.value = ''; 
				fetch('/todos/create', { //sending request async; fetch (<url-route>,)
					method: 'POST', 
					body: JSON.stringify({
						'description': desc, 
						// get value from the description field 
					}), 
					headers: {
						'Content-Type': 'application/json'
						// json header 
					}
				})
				.then(function(response){
					// parse out the response (in string)
					return response.json();
				})
				.then(function(jsonResponse){
					//log the response from jsonResponse  
					console.log(jsonResponse); //console log output from jsonResponse
					const li = document.createElement('li'); //create an element
					li.innerHTML = jsonResponse['description']; // content in description
					document.getElementById('todos').appendChild(li); // append li item to the list 
					document.getElementById('error').className = 'hidden'; 
				})
				.catch(function(){ //trigger only when something gone wrong in the server
					document.getElementById('error').className = ''; //remove the className 
				})
			}
		</script>
	</body>
</html>