{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show.Artist_image_link }}" alt="Artist Image" />
            <h4>{{ show.Shows.start_time.strftime('%m-%d-%Y %H:%M') }}</h4>
            <h5><a href="/artists/{{ show.artist_id }}">{{ show.Artist_name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ show.venue_id }}">{{ show.Venue_name }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}